body{
  background: beige;
}

h1, h3 {
  text-align: center;
  padding: 10px;
  margin-left: 5px;
}

footer{
  text-align: center;
}

footer a{
  margin: 0 10px;
  padding: 10px;
  color:blueviolet;
}

.croissant-photo{
  display: block;
  border-radius: 10px;
  max-width: 100%;
  margin:30px auto;
}

